{% extends "layouts/base.njk" %}

{% block content %}
  <div class="container about-page">
    <h1>About</h1>
<p>
  Remain Off is a quiet space for visual storytelling. No captions. No commentary. Just images — grouped by mood, memory, and light.
</p>

<p>
  Created by Maino, a visual artist who regularly travels throughout Asia and can often be found wandering the streets of Hong Kong. This site is a slow archive of passing moments, shot mostly on film.
</p>

<p>
  New collections are added monthly. You’re welcome to explore, reflect, or simply linger.
</p>
<p>
  You can follow along on <a href="https://instagram.com/mc88xx" target="_blank">Instagram (@mc88xx)</a>.
</p>
  </div>
{% endblock %}