---
pagination:
  data: signedPhotoCollections
  size: 1
  alias: galleryEntry
eleventyExcludeFromCollections: true
layout: layouts/collection.njk
title: "{{ galleryEntry.title }}"
user:
  access_level: public
collection: "{{ galleryEntry }}"
permalink: "/collections/{{ galleryEntry.slug }}/"
---